.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  margin-top: 3rem;
  border-radius: 70%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
}
